<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{title}}</title>
	<script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="/polymer/ready-element.html"/>
    <link rel="import" href="/polymer/ajax-element.html"/>
    <link rel="import" href="/polymer/leaflet-element.html"/>
    <link rel="import" href="/polymer/addressbook-element.html"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="/bower_components/leaflet/dist/leaflet.js"></script>
	{{{ head }}}
</head>
<body>
<div class="container">
    <h1>JS On Ready</h1>
    <div class="well">
        <ready-element></ready-element>
    </div>
    <h1>Core-Ajax / Endless Scroll</h1>
    <div class="well">
        <ajax-element url="/test/"></ajax-element>
    </div>
    <h1>External Lib (Leaflet)</h1>
    <div class="well">
        <leaflet-element></leaflet-element>
    </div>
    <h1>Core Ajax / Data Binding</h1>
    <div class="well">
        <addressbook-element></addressbook-element>
    </div>
	{{{ body }}}
</div>
{{{ scripts }}}
</body>
</html>